@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.16rem;
    font-family: "微软雅黑";
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
img{
    width: 100%;
}
#box{
    width: 100%;
}
.head{
    width: 100%;
    ul{
        padding: 0.08rem 0.09rem;
        display: flex;
        justify-content: space-between;
        li:nth-child(1){
            width: 35%;
        }
        li:nth-child(2){
            display: flex;
            align-items: center;
            div{
                padding: 0 0.06rem;
                span{
                    font-size: 0.225rem;
                    color: #999;
                }
                p{
                    font-size: 0.11rem;
                    color: #999;
                }
            }
        }
    }
}
.lunbo{
    width: 100%;
    img{
        width: 100%;
    }
}
.banner{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    border-bottom: 0.09rem solid #eaeaea;
   
    div{
        width: 23%;
        margin-top: 0.12rem;
        margin-left: 0.035rem;
        img{
            width: 0.6rem;
        }
        p{
            font-size: 0.14rem;
            color: #333;
            margin-top: 0.1rem;
        }
    }
    .banner-li{
        margin-top: 0.26rem;
        margin-bottom: 0.2rem;
    }
}
.house{
    width: 100%;
    display: flex;
    margin-top: 0.13rem;
    border-left: 0.025rem solid #39c894;
    margin-left: 0.1rem;
    .aink{
       font-size: 0.24rem;
       color: #000; 
       margin-left: 0.08rem;
    }
    span{
        display: flex;
        align-items: center;
        margin-left: 0.1rem;
        font-size: 0.14rem;
        color: #999;
    }
}
.houser{
    width: 100%;
    margin-top: 0.16rem;
    img{
        width: 100%;
    }
}
.zeng{
    width: 100%;
    border-bottom: 0.1rem solid #F4F4F4;
    margin-bottom: 0.19rem;
    ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        li{
            display: flex;
            p{
                font-size: 0.18rem;
                color: #39c894;
                
            }
            span{
                margin-left: 0.06rem;
                font-size: 0.14rem;
                color: #000;
            }
        }
    }
}
.zhuang{
    width: 100%;
    margin-top: 0.14rem;
    margin-left: 0.3rem;
    border-bottom: 0.1rem solid #F4F4F4;
    padding: 0.18rem 0;
    div{
        width: 2.93rem;
        height: 0.35rem;
        line-height: 0.35rem;
        border: 2px solid #eaeaea;
        border-radius: 5px;
        align-items: center;
        font-size: 0.14rem;
        color: #cecaca;
        margin-bottom: 0.14rem; 
    }
    button{
        width: 2.93rem;
        height: 0.35rem;
        line-height: 0.35rem;
        color: white;
        background: #FEB605;
        font-size: 0.19rem;
    }
}
.person{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 0.2rem;
    img{
        width: 0.7rem;
    }
    .wu{
           margin-top: 0.14rem;
           color: #000;
           font-size: 0.18rem;
        }
    .xiu{
        width: 0.6rem;
        height: 0.16rem;
        line-height: 0.16rem;
         margin-top: 0.14rem;
         color: white;
         font-size: 0.12rem;
         background: #39C893;
    }
}
.huan{
    width: 100%;
    margin-top: 0.19rem;
    display: flex;
    justify-content: center;
    border-bottom: 0.1rem solid #F4F4F4;
    padding: 0.15rem 0;
    p{
        width: 45%;
        height: 0.35rem;
        line-height: 0.35rem;
        align-items: center;
        text-align: center;
        border: 1px solid #CCCCCC;
        font-size: 0.14rem;
        span{
            font-size: 0.14rem;
            color: #39C893;
            margin-left: 0.2rem;
        }
    }
}
.xiao{
    width: 100%;
    margin-top: 0.18rem;
    .tupian{
        width: 100%;
        img{
            width: 100%;
            height: 2.53rem;
        }
    }
    ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
        li{
            width: 48%;
            margin-left: 0.04rem;
            img{
                width: 100%;
            }
        }
    }
}
.gongdi{
    width: 100%;
    margin-top: 0.18rem;
    img{
        width: 100%;
        height: 2.67rem;
    }
    p{
       font-size: 0.24rem;
       color: #000;
       margin-left: 0.1rem;
       span{
           width: 0.35rem;
           background: #39C893;
           font-size: 0.24rem;
           color: white;
       }
    }
}
.lue{
    width: 100%;
   
    .jiao{
        width: 100%;
        display: flex;
        border-bottom:2px solid #CCCCCC;
        padding: 0.2rem;
        .jiaojj{
            width: 30%;
            img{
                width: 100%;
            }
        }
        .fu{
            width: 68%;
            margin-left: 0.1rem;
            p{
                font-size: 0.18rem;
            }
            div{
                margin-top: 0.05rem;
               .icon-time{
                   font-size: 0.14rem;
               }
               .icon-view{
                   font-size: 0.14rem;
               }
               .shijian{
                   margin-left: 0.1rem;
               }
            }
        }
    }
}
.waibao{
    width: 100%;
    border-bottom: 0.1rem solid #F4F4F4;
    padding: 0.15rem 0;
    p{
       font-size: 0.14rem;
       color: #333;
       text-indent: 2em; 
    }
    
}
.lianxi{
    width: 100%;
    display: flex;
    justify-content: center;
    .server{
        display: flex;
        margin-top: 0.3rem;
        p{
            font-size: 0.18rem;
            color: #39C893;
        }
        span{
            margin-left: 0.1rem;
        }
    }
    .icon-top{
       font-size: 0.2rem;
       padding: 0.027rem;
       border:1px solid #dedede;
       border-radius: 50%;
       position: absolute;
       left: 90%;
       color: #9c9c9c;
    }
}
.chuping{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 0.14rem;
    span:nth-child(1){
        color: #3ACA92;
    }
}
.footer{
    width: 100%;
    height: 0.53rem;
    display: flex;
    background: #000000;
    margin-top: 0.19rem;
  
    img:nth-child(1){
        width: 0.2rem;
        height: 0.2rem;
    }
     img:nth-child(2){
       width: 50%;
       margin-left: 0.15rem;
    }
    div{
        color: white;
        background: #feb605;
        width: 0.95rem;
        height: 0.3rem;
        font-size: 0.12rem;
        border:1px solid #feb605;
        border-radius: 15px;
        margin-left: 0.4rem;
        text-align: center;
        align-items: center;
        margin-top: 0.1rem;
    }
}
.foot{
    width: 100%;
    margin-bottom: 50px;
    img{
        width: 100%;
    }
}
