@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.16rem;
  font-family: "微软雅黑"; }

body {
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  width: 100%; }

#box {
  width: 100%; }

.header {
  width: 100%; }
  .header ul {
    padding: 0.08rem 0.09rem;
    display: flex;
    justify-content: space-between; }
    .header ul li:nth-child(1) {
      width: 35%; }
    .header ul .guo {
      font-size: 0.2rem;
      color: #000;
      margin-top: 0.1rem; }
    .header ul li:nth-child(3) {
      display: flex;
      align-items: center; }
      .header ul li:nth-child(3) div {
        padding: 0 0.06rem; }
        .header ul li:nth-child(3) div span {
          font-size: 0.225rem;
          color: #999; }
        .header ul li:nth-child(3) div p {
          font-size: 0.11rem;
          color: #999; }

.lunbo {
  width: 100%; }
  .lunbo img {
    width: 100%; }

.text {
  width: 100%;
  font-size: 0.14rem;
  color: #000;
  margin-left: 0.1rem;
  border-bottom: 5px solid #eaeaea;
  padding: 0.15rem 0; }

.zhuyi {
  width: 100%;
  text-align: center;
  align-items: center;
  border-bottom: 3px solid #eaeaea;
  padding: 0.15rem 0; }
  .zhuyi h2 {
    font-size: 0.19rem;
    color: #000; }
  .zhuyi .icon-time {
    font-size: 0.2rem; }
  .zhuyi .icon-view {
    font-size: 0.2rem;
    margin-left: 0.4rem;
    color: #999; }
  .zhuyi .shijian {
    font-size: 0.2rem;
    color: #999;
    margin-left: 0.1rem; }

.banner {
  width: 100%;
  border-bottom: 3px solid #eaeaea;
  padding: 0 0 0.15rem 0; }
  .banner ul {
    display: flex; }
    .banner ul li {
      width: 23%;
      margin-left: 0.06rem;
      font-size: 0.14rem;
      border: 1px solid #eaeaea; }
  .banner ul:nth-child(2) {
    margin-top: 0.09rem; }

.head {
  width: 100%; }
  .head p {
    text-indent: 2em;
    width: 100%;
    font-size: 0.14rem;
    color: #666; }
  .head img {
    width: 90%;
    margin-left: 0.2rem;
    margin-top: 0.15rem;
    margin-bottom: 0.25rem; }
  .head button {
    width: 95%;
    height: 0.35rem;
    text-align: center;
    color: #38CA94;
    border: 2px solid #38CA94;
    background: white;
    font-size: 0.19rem;
    margin-left: 0.1rem;
    margin-left: 0.1rem;
    border-radius: 10px; }

.qingjia {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  .qingjia div {
    width: 50%;
    margin-top: 0.2rem;
    text-align: center;
    align-items: center; }
    .qingjia div .icon-pencle {
      border: 3px solid #1B9BF7;
      font-size: 0.24rem;
      border-radius: 50%;
      padding: 0.1rem;
      color: #1B9BF7; }
    .qingjia div .jia {
      color: #1B9BF7;
      margin-top: 0.11rem;
      font-size: 0.12rem; }
    .qingjia div .icon-share {
      border: 3px solid #FEB605;
      font-size: 0.24rem;
      border-radius: 50%;
      padding: 0.1rem;
      color: #FEB605; }
    .qingjia div .fen {
      color: #FEB605;
      margin-top: 0.11rem;
      font-size: 0.12rem; }

.jinru {
  width: 100%;
  border-bottom: 5px solid #eaeaea;
  padding: 0.15rem 0; }
  .jinru button {
    width: 95%;
    height: 0.35rem;
    text-align: center;
    color: #38CA94;
    border: 2px solid #38CA94;
    background: white;
    margin-left: 0.1rem;
    border-radius: 10px; }

.lue {
  width: 100%; }
  .lue .jiao {
    width: 100%;
    display: flex;
    border-bottom: 2px solid #CCCCCC;
    padding: 0.2rem; }
    .lue .jiao .jiaojj {
      width: 30%; }
      .lue .jiao .jiaojj img {
        width: 100%; }
    .lue .jiao .fu {
      width: 68%;
      margin-left: 0.1rem; }
      .lue .jiao .fu p {
        font-size: 0.18rem; }
      .lue .jiao .fu div {
        margin-top: 0.05rem; }
        .lue .jiao .fu div .icon-time {
          font-size: 0.14rem; }
        .lue .jiao .fu div .icon-view {
          font-size: 0.14rem; }
        .lue .jiao .fu div .shijian {
          margin-left: 0.1rem; }

.huan {
  width: 100%;
  margin-top: 0.19rem;
  display: flex;
  justify-content: center;
  border-bottom: 0.1rem solid #F4F4F4;
  padding: 0.15rem 0; }
  .huan p {
    width: 45%;
    height: 0.35rem;
    line-height: 0.35rem;
    align-items: center;
    text-align: center;
    border: 1px solid #CCCCCC;
    font-size: 0.14rem; }
    .huan p span {
      font-size: 0.14rem;
      color: #39C893;
      margin-left: 0.2rem; }

.house {
  width: 100%;
  display: flex;
  margin-top: 0.13rem;
  border-left: 0.025rem solid #39c894;
  margin-left: 0.1rem; }
  .house .aink {
    font-size: 0.24rem;
    color: #000;
    margin-left: 0.08rem; }

.waibao {
  width: 100%;
  border-bottom: 0.1rem solid #F4F4F4;
  padding: 0.15rem 0; }
  .waibao p {
    font-size: 0.14rem;
    color: #333;
    text-indent: 2em; }

.lianxi {
  width: 100%;
  display: flex;
  justify-content: center; }
  .lianxi .server {
    display: flex;
    margin-top: 0.3rem; }
    .lianxi .server p {
      font-size: 0.18rem;
      color: #39C893; }
    .lianxi .server span {
      margin-left: 0.1rem; }
  .lianxi .icon-top {
    font-size: 0.2rem;
    padding: 0.027rem;
    border: 1px solid #dedede;
    border-radius: 50%;
    position: absolute;
    left: 90%;
    color: #9c9c9c; }

.chuping {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 0.14rem; }
  .chuping span:nth-child(1) {
    color: #3ACA92; }

.footer {
  width: 100%;
  height: 0.53rem;
  display: flex;
  background: #000000; }
  .footer img:nth-child(1) {
    width: 0.2rem;
    height: 0.2rem; }
  .footer img:nth-child(2) {
    width: 50%;
    margin-left: 0.15rem; }
  .footer div {
    color: white;
    background: #feb605;
    width: 0.95rem;
    height: 0.3rem;
    font-size: 0.12rem;
    border: 1px solid #feb605;
    border-radius: 15px;
    margin-left: 0.4rem;
    text-align: center;
    align-items: center;
    margin-top: 0.1rem; }

.foot {
  width: 100%;
  margin-bottom: 50px; }
  .foot img {
    width: 100%; }

/*# sourceMappingURL=index5.css.map */
