@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.16rem;
  font-family: "微软雅黑"; }

body {
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  width: 100%; }

#box {
  width: 100%; }

.header {
  width: 100%; }
  .header ul {
    padding: 0.08rem 0.09rem;
    display: flex;
    justify-content: space-between; }
    .header ul li:nth-child(1) {
      width: 35%; }
    .header ul .guo {
      font-size: 0.2rem;
      color: #000;
      margin-top: 0.1rem; }
    .header ul li:nth-child(3) {
      display: flex;
      align-items: center; }
      .header ul li:nth-child(3) div {
        padding: 0 0.06rem; }
        .header ul li:nth-child(3) div span {
          font-size: 0.225rem;
          color: #999; }
        .header ul li:nth-child(3) div p {
          font-size: 0.11rem;
          color: #999; }

.lunbo {
  width: 100%; }
  .lunbo img {
    width: 100%; }

.tit {
  border-bottom: 1px solid #d7d7d7;
  padding: 0.2rem 0; }
  .tit p {
    width: 100%;
    text-align: center;
    font-size: 0.2rem; }

.title {
  position: relative; }
  .title img {
    width: 20%;
    position: absolute;
    margin-top: -0.12rem;
    margin-left: 40%; }

.house {
  width: 100%;
  display: flex;
  margin-top: 0.13rem;
  border-left: 0.025rem solid #39c894;
  margin-left: 0.1rem; }
  .house .aink {
    font-size: 0.24rem;
    color: #000;
    margin-left: 0.08rem; }
  .house .slinkk {
    color: #999;
    font-size: 0.16rem; }

.house {
  width: 100%;
  display: flex;
  margin-top: 0.2rem;
  border-left: 0.025rem solid #39c894;
  margin-left: 0.1rem; }
  .house .aink {
    font-size: 0.24rem;
    color: #000;
    margin-left: 0.08rem; }
  .house span {
    display: flex;
    align-items: center;
    margin-left: 0.1rem;
    font-size: 0.14rem;
    color: #999; }

.zhuang {
  width: 100%;
  margin-top: 0.14rem;
  margin-left: 0.3rem;
  border-bottom: 0.1rem solid #F4F4F4;
  padding: 0.18rem 0; }
  .zhuang input {
    width: 2.93rem;
    height: 0.35rem;
    line-height: 0.35rem;
    border: 2px solid #eaeaea;
    border-radius: 5px;
    align-items: center;
    font-size: 0.14rem;
    color: #cecaca;
    margin-bottom: 0.14rem; }
  .zhuang button {
    width: 2.93rem;
    height: 0.35rem;
    line-height: 0.35rem;
    color: white;
    background: #FEB605;
    font-size: 0.19rem;
    margin-top: 0.1rem; }
  .zhuang select {
    width: 45%;
    height: 0.35rem;
    margin-top: 0.1rem; }
  .zhuang .inp {
    width: 30%; }

.style {
  width: 95%;
  text-align: center;
  margin-top: 0.19rem;
  border: 1px dashed #37C993;
  margin: 0.1rem 0.1rem;
  position: relative; }
  .style .style1 {
    width: 1.2rem;
    height: 0.3rem;
    background: white;
    position: absolute;
    margin-top: -0.1rem;
    margin-left: 1.2rem; }
  .style .style2 {
    margin-top: 0.25rem; }
    .style .style2 span {
      color: #FF4452; }
  .style .style3 {
    margin-top: 0.325rem; }
  .style .style4 {
    margin-top: 0.19rem; }
    .style .style4 span {
      color: #EFAD04; }
  .style div {
    width: 85%;
    height: 0.35rem;
    line-height: 0.35rem;
    text-align: center;
    color: #39C893;
    border: 1px solid #39C893;
    margin-left: 0.3rem;
    margin-top: 0.19rem;
    margin-bottom: 0.13rem;
    border-radius: 5px; }

.ulList {
  width: 100%;
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-wrap: wrap; }
  .ulList li {
    width: 32%;
    margin-top: 0.1rem;
    border: 1px solid #eaeaea; }
    .ulList li span {
      font-size: 0.3rem;
      color: white;
      background: #39C893;
      padding: 0.1rem;
      border: 1px solid #39C893;
      border-radius: 50%; }
    .ulList li p {
      font-size: 0.14rem;
      margin-top: 0.1rem; }
    .ulList li .ulList1 {
      color: #666;
      font-size: 0.12rem; }

.waibao {
  width: 100%;
  border-bottom: 0.1rem solid #F4F4F4;
  padding: 0.15rem 0;
  margin-top: 0.2rem; }
  .waibao p {
    font-size: 0.14rem;
    color: #333;
    text-indent: 2em; }

.lianxi {
  width: 100%;
  display: flex;
  justify-content: center; }
  .lianxi .server {
    display: flex;
    margin-top: 0.3rem; }
    .lianxi .server p {
      font-size: 0.18rem;
      color: #39C893; }
    .lianxi .server span {
      margin-left: 0.1rem; }
  .lianxi .icon-top {
    font-size: 0.2rem;
    padding: 0.027rem;
    border: 1px solid #dedede;
    border-radius: 50%;
    position: absolute;
    left: 90%;
    color: #9c9c9c; }

.chuping {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 0.14rem; }
  .chuping span:nth-child(1) {
    color: #3ACA92; }

.footer {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  display: flex;
  background: #FE6A73;
  text-align: center;
  align-items: center; }
  .footer div {
    color: white;
    font-size: 0.24rem;
    margin-left: 1rem; }

.foot {
  width: 100%;
  margin-bottom: 50px; }
  .foot img {
    width: 100%; }

/*# sourceMappingURL=index15.css.map */
