@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.16rem;
    font-family: "微软雅黑";
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
img{
    width: 100%;
}
#box{
    width: 100%;
}
.header{
    width: 100%;
    ul{
        padding: 0.08rem 0.09rem;
        display: flex;
        justify-content: space-between;
        li:nth-child(1){
            width: 35%;
        }
        .guo{
            font-size: 0.2rem;
            color: #000;
            margin-top: 0.1rem;
        }
        li:nth-child(3){
            display: flex;
            align-items: center;
            div{
                padding: 0 0.06rem;
                span{
                    font-size: 0.225rem;
                    color: #999;
                }
                p{
                    font-size: 0.11rem;
                    color: #999;
                }
            }
        }
    }
}
.map{
    width: 100%;
    img{
        width: 100%;
    }
}
.banner{
    width: 100%;
    display: flex;
    justify-content:space-around;
    text-align: center;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    border-bottom: 10px solid #F4F4F4;
    padding: 0.15rem;
    div{
        width: 49%;
        span{
            font-size: 0.2rem;
            color: white;
            border: 1px solid #39C893;
            background: #39C893;
            border-radius: 50%;
            padding: 0.1rem;
        }
        p{
            margin-top: 0.15rem;
            font-size: 0.14rem;
            color: #333;
        }
    }
}
.erwei{
    width: 100%;
    text-align: center;
    border-bottom: 10px solid #F4F4F4;
    padding: 0.2rem;
    img{
        width: 50%;
       
    }
}
.waibao{
    width: 100%;
    border-bottom: 0.1rem solid #F4F4F4;
    padding: 0.15rem 0;
    margin-top: 0.2rem;
    p{
       font-size: 0.14rem;
       color: #333;
       text-indent: 2em; 
    }
    
}
.lianxi{
    width: 100%;
    display: flex;
    justify-content: center;
    .server{
        display: flex;
        margin-top: 0.3rem;
        p{
            font-size: 0.18rem;
            color: #39C893;
        }
        span{
            margin-left: 0.1rem;
        }
    }
    .icon-top{
       font-size: 0.2rem;
       padding: 0.027rem;
       border:1px solid #dedede;
       border-radius: 50%;
       position: absolute;
       left: 90%;
       color: #9c9c9c;
    }
}
.chuping{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 0.14rem;
    span:nth-child(1){
        color: #3ACA92;
    }
}
.footer{
    width: 100%;
    height: 0.5rem;
    line-height: 0.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 0.14rem;
    margin-left: 0.4rem;
    color: #666;
}
.foot{
    width: 100%;
    margin-bottom: 50px;
    img{
        width: 100%;
    }
}

